*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background: #efeff2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 300px;
    height: 500px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: black;
    overflow: hidden;
}

form input{
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 9px;
    font-size: 2rem;
    padding: 1rem;
    color: white;
    background-color: #22252d;
    text-align: right;
    pointer-events: none;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
}

button{
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid #000;
    width: 60px;
    height: 52px;
    font-size: 22px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.btn-yellow{
    background: rgb(231, 27, 27);
    color: white;
}

.btn-grey{
    color: black;
}

.btn-C{
    color: white;
    background-color: green;
}

.btn-equal{
    color: white;
    background-color: rgb(255, 123, 0);
}

