body{
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

nav{
    background-color: #111;
    color: white;
    padding: 20px 50px;
}

.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search{
    display: flex;
    align-items: center;
    background-color: grey;
    padding: 10px 20px;
    border-radius: 10px;
}
.searchInput{
    border: none;
    background-color: transparent;
}

.searchInput::placeholder{
    color: lightgray;
}

.limittedOffer{
    font-size: 20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}

.navBottom{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuItem{
    margin: 50px;
    font-weight: 400;
    color: lightgrey;
    cursor: pointer;
}

.slider{
    background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
}

.slideWrapper{
    display: flex;
    width: 500vw;
    transition: all 1s ease-in-out;
}
.sliderItem{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative;   
}

.slideBg{
    width: 750px;
    height: 750px;
    border-radius: 50%;
    position: absolute;
   
}

.sliderImg{
    z-index: 1;
}

.sliderTitle{
    position: absolute;
    top: 10%;
    right:10%;
    color: white;
    font-size: 60px;
    font-weight:900;
    text-align: center;
    z-index: 1;
}

.sliderPrice{
    position: absolute;
    top: 10%;
    left:14%;
    color: white;
    font-size: 60px;
    font-weight: 400;
    text-align: center;
    border: 2px solid grey;
    z-index: 1;
}

.sliderButton{
    position: absolute;
    top: 50%;
    right:10%;
    color: white;
    background-color: black;
    font-size: 30px;
    font-weight: 900;
    border: 1px solid grey;
    z-index: 1;
    cursor: pointer;
}

.sliderButton:hover{
    color: black;
    background-color: white;

}

.sliderItem:nth-child(1) .slideBg{
    background-color: #57cc99;
}

.sliderItem:nth-child(2) .slideBg{
    background-color:#00b4d8 ;
}

.sliderItem:nth-child(3) .slideBg{
    background-color:#1a1423;
}

.sliderItem:nth-child(4) .slideBg{
    background-color: #ffd700;
}

.sliderItem:nth-child(5) .slideBg{
    background-color: orange;
}

.sliderItem:nth-child(1) .sliderPrice{
    color: #57cc99;
    font-weight: 400;
}

.sliderItem:nth-child(2) .sliderPrice{
    color:#00b4d8 ;
}

.sliderItem:nth-child(3) .sliderPrice{
    color:#957bb8;
}

.sliderItem:nth-child(4) .sliderPrice{
    color: yellow;
}

.sliderItem:nth-child(5) .sliderPrice{
    color: orange;
}