/* Importing google fonts - Raleways and SourcecodePro */

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Source+Code+Pro:wght@200;300;400;500;600;700;800;900&display=swap");

/* Global styling */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    font-family: "Source Code Pro", monospace;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  h1 {
    font-size: 50px;  
    font-weight: 400;
    line-height: 64px;
    color: #fefefe;
  }
  
  h2 {
    font-size: 46px;
    line-height: 54px;
    font-weight: 400;
    color: #fefefe;
  }
  
  h4 {
    font-size: 20px;
    font-weight: 400;
    color: #fefefe;
  }
  
  h6 {
    font-weight: 700;
    font-size: 12px;
    color: #fefefe;
  }
  
  p {
    font-size: 16px;
    font-weight: 400;
    color: #fefefe;
    margin: 15px 0 20px 0;
  }
  
  .section-p1 {
    padding: 40px 80px;
  }
  
  .section-m1 {
    margin: 40px 0;
  }
  
  button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s ease;
  }
  
  button.normal:hover {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #fff;
    background-color: #088178;
  }
  
  body {
    width: 100%;
    background-color: #2d2e32;
  }
  
  body::selection {
    color: #000000;
    background: #64f4ac;
  }
  
  ::-webkit-scrollbar{
    width: 10px;
  }
  
  ::-webkit-scrollbar-track{
    background: transparent;
  }
  
  ::-webkit-scrollbar-thumb{
    background: #CACACA;
    transition: 0.3s ease;
    border-radius: 15px;
  }
  
  ::-webkit-scrollbar-thumb:hover{
    background: #FEFEFE;
  }
  


/* Header section */
#header {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    border: 0.5px solid #042e1e;
    box-shadow: 0 0 10px 1px  #00000040;
    backdrop-filter: blur(15px);
    color: #fefefe;
    position: sticky;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0;
}
.navbar_title{
    display: flex;
    align-items: center;
}
.first_name-title{
    padding: 0 7.5px;
    font-weight: 600;
    color: #fefefe;
    font-family: "Raleway", sans-serif;
    font-size: 24px;
}
.last_name-title{
    font-size: 24px;
    font-weight: 400;
    color: #cacaca;
}
.navbar_menu{
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar_menu li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

/* .navbar_menu .active{
    font-weight:600;
    color: aquamarine;
} */

.navbar_menu li a{
    color: #fefefe;
    text-decoration: none;
    font-size: 12px;
    font-weight: 600;
    transform: 0.3s ease;
}
.navbar_menu li a:hover{
    color: aquamarine;
    font-weight: 900;
}

.social-media{
    display: flex;
    align-items: center;
}
.social-media li{
    display: flex;
    list-style: none;
    padding: 0 16px;
    align-items: center;
    font-weight: 600;
}
.social-media li i{
    font-size: 12px;
    transform: 0.3s ease;
   
}
.social-media li a{
    text-decoration: none;
    color: #fefefe;
    padding: 0 7px;
    font-size: 12px;
    transform: 0.3s ease;
}
.social-media li:nth-last-child(1):hover i{
    color: #ff000d;
}
.social-media li:nth-child(2):hover i{
    color: #00a6fb;
}

.social-media li:nth-child(1):hover i{
    color: orange;
}

/* Content body  */

#content-body{
    display: flex;
    height: 90vh;
    align-self: flex-start;
    align-content: center;
    align-items: center;
    background-color: #000;
    /* justify-content: space-around; */
    padding: 20px 0 0 100px;
    margin-bottom: 10vh;
    max-height: 100vh;
}

.developer-intro{
    display: flex;
    align-items: center;
}
.developer-intro p{
    padding: 5px 10px;
    margin: 0 20px 40px 0;
    background-color:#55a630;
    color: #000;
    font-size: 13px;
    font-weight: 600;
    border-radius: 2.5px;
    align-items: center;
    text-align: center;
    transition: 0.3s ease;
    cursor: pointer;
}
.developer-intro p:hover{
    font-weight: 500;
    color: white;
}
.body-title h1{
    font-size: 40px;
    line-height: 50px;
    letter-spacing: -0.5px;
    padding: 35px 0 0 0;
    color: #fefefe;
    font-weight: 400;
    margin: -30px 0 0;
}
.body-title h3{
    font-size: 25px;
    line-height: 50px;
    letter-spacing: -0.5px;
    padding: 0px 0 2px 0;
    color: #fefefe;
    font-weight: 400;
}
.body-title p{
    font-size: 12px;
    padding: 15px 0 20px 0;
    color: #fefefe;
    font-weight: 300;
    line-height: 30px;
}
.body-title a{
    font-size: 16px;
    color: #55a630;
    font-weight: 700;
    padding: 20px 0px;
    margin: 20px 0px;
    text-decoration: none;
}
.body-tale{
    display: flex;
    align-items: start;
    padding: 85px 0 0 0;
}
.body-tale p{
    color: #cacaca;
    font-size: 15px;
    font-weight: 400;
    padding: 0 30px 0 3px;
}
.body-part2{
  position: relative;
}
.background-circle{
  background-color: #0f0e0e;
  border-radius: 50%;
  width: 550px;
  height: 550px;
  z-index: 9;
  box-shadow: 0 0 20px #000000 ;
  margin-top: -115px;
  margin-left: 80px;
}
.hoodie-guy{
  background: url(assets/whitehoodie.png);
  position: absolute;
  top: 100px;
  height: 530px;
  width: 530px;
  background-size: 99%;
  margin-left: 83px;  
  margin-top: -75px;
}
.circle{
  position: relative;
  top: 350px;
  left: 310px;
  width: 60px;
  height: 100px;
  transform-style: preserve-3d;
  animation: animateCircle 15s linear infinite;
}
@keyframes animateCircle {
  0% {
    transform: perspective(1000px) rotateY(0deg) rotateX(15deg)
      translateY(-30px);
  }
  100% {
    transform: perspective(1000px) rotateY(360deg) rotateX(15deg)
      translateY(-30px);
  }
}

.circle span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #2d2e32; */
  /* box-shadow: 0px 0px 5px #00000080; */
  border-radius: 50%;
  transform-origin: center;
  transform-style: preserve-3d;
  transform: rotateY(calc(var(--i) * calc(360deg / 15))) translateZ(300px);
}