<!-- netflix_app/templates/netflix_app/index.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'netflix_app/css/style.css' %}">
    <title>Netflix Clone</title>
</head>
<body>

    <!-- Header Section -->
    <header class="header">
       
        <div class="banner2">
            <img src="{%static 'netflix_app/images/netflix banner.png' %}" alt="Banner2">
        </div>
        <div class="user-profile">
            <img src="{% static 'netflix_app/images/Netflix-avatar.png' %}" alt="User Avatar">
        </div>
    </header>

    <!-- Main Content Section -->
    <section class="main-content">
        <div class="banner">
            <img src="{% static 'netflix_app/images/banner.jpg' %}" alt="Netflix Banner">
        </div>

        <div class="movie-list">
            <!-- Display a list of movies -->
            <div class="movie">
                <img src="{% static 'netflix_app/images/paradise-2023-netflix-review.jpg' %}" alt="Movie 1">
            </div>
            <div class="movie">
                <img src="{% static 'netflix_app/images/Netflix-Best-Action-Movies.jpg' %}" alt="Movie 2">
            </div>
            <div class="movie">
                <img src="{% static 'netflix_app/images/daredevil.jpg' %}" alt="Movie 2">
            </div>
            <!-- Add more movie items as needed -->
        </div>
    </section>

    <!-- Footer Section -->
    <footer class="footer">
        <p>&copy; 2023 Netflix Clone</p>
    </footer>

    <script src="{% static 'netflix_app/js/script.js' %}"></script>
</body>
</html>
